﻿@model MvcNotes.Models.Note

@{
    ViewBag.Title = "Create";
}

<h2>Новая заметка</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Note</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.Name)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Name)
            @Html.ValidationMessageFor(model => model.Name)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Value)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Value)
            @Html.ValidationMessageFor(model => model.Value)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.OwnerInformation)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.OwnerInformation)
            @Html.ValidationMessageFor(model => model.OwnerInformation)
        </div>
        <div class="editor-label">
            @Html.Label("Категории заметки:")
        </div>

        @foreach (var item in ViewBag.Categories)
        {
            <input type="checkbox" name="categoriesID" value=@item.Id>@item.Name <br />
        }
        <p>
            <input type="submit" value="Создать" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Вернуться на страницу Мои Заметки", "Index", "MyNotes")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
