﻿@model MvcNotes.Models.Note

@{
    ViewBag.Title = "Delete";
}

<h2>Удаление заметки</h2>

<h3>Вы уверены что хотите удалить эту заметку?</h3>
<fieldset>
    <legend>Note</legend>

    <div class="display-label">
        @Html.Label("Наименование")
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Name)
    </div>

    <div class="display-label">
        @Html.Label("Содержание")
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Value)
    </div>

    <div class="display-label">
        @Html.Label("Информация о создателе")
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.OwnerInformation)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.CreateDate)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CreateDate)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    <p>
        <input type="submit" value="Удалить" /> |
        @Html.ActionLink("Вернуться на страницу Мои Заметки", "Index", "MyNotes")
    </p>
}
