﻿@model MvcNotes.Models.Note

@{
    ViewBag.Title = "Edit";
}

<h2>Редактирование заметки</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Note</legend>

        @Html.HiddenFor(model => model.Id)
        @Html.HiddenFor(model => model.OwnerId)
        @Html.HiddenFor(model => model.CreateDate)
        
        <div class="editor-label">
            @Html.LabelFor(model => model.Name)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Name)
            @Html.ValidationMessageFor(model => model.Name)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Value)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Value)
            @Html.ValidationMessageFor(model => model.Value)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.OwnerInformation)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.OwnerInformation)
            @Html.ValidationMessageFor(model => model.OwnerInformation)
        </div>
        <p>
            <input type="submit" value="Сохранить" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Вернуться на страницу Мои Заметки", "Index", "MyNotes")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
