﻿@model IEnumerable<MvcNotes.Models.Note>

@{
    ViewBag.Title = "Index";
}
<h2>@ViewBag.Category</h2>
@if (Model.Count()!=0)
    {
        <table>
            <tr>
                <th>
                    @Html.Label("Наименование")
                </th>
                <th>
                    @Html.Label("Содержание")
                </th>
                <th>
                    @Html.Label("Информация о создателе")
                </th>
                <th>
                    @Html.Label("Дата создания")
                </th>
                <th></th>
            </tr>
         @foreach (var item in Model)
            {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Value)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.OwnerInformation)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CreateDate)
                </td>
                <td>
                    @Html.ActionLink("Редактировать", "Edit", new { id = item.Id }) |
                    @Html.ActionLink("Удалить", "Delete", new { id = item.Id })
                </td>
            </tr>
            }
        </table>
    }
    else
    {
        <span>В данной категории нет заметок</span>
    }
<div>
    @Html.ActionLink("Вернуться на страницу Мои Заметки", "Index", "MyNotes")
</div>



