﻿@model MvcNotes.Models.Category

@{
    ViewBag.Title = "AddSubCategory";
}

<h2>Добавление подкатегории</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Category</legend>
        @Html.HiddenFor(model => model.ParentId)
        <div class="editor-label">
            Имя категории
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Name)
            @Html.ValidationMessageFor(model => model.Name)
        </div>
        <p>
            <input type="submit" value="Создать" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("К списку категорий", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
