﻿@model MvcNotes.Models.Category

@{
    ViewBag.Title = "Delete";
}

<h2>Удаление категории</h2>
<p></p>
Вы уверены, что хотите удалить эту категорию со всеми подкатегориями и заметками?
<fieldset>
    <legend>Category</legend>
    <div class="display-field" style="font-size: 20px">
        @Html.DisplayFor(model => model.Name)
    </div>
</fieldset>
<p></p>
@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    <p>
        <input type="submit" value="Удалить" /> |
        @Html.ActionLink("К списку категорий", "Index")
    </p>
}
