﻿@model IEnumerable<MvcNotes.Models.Category>

@{
    ViewBag.Title = "Index";
}

<h2>Управление категориями</h2>

<p>
    @Html.ActionLink("Новая категория", "Create")
</p>
<table>
    <tr>
        <th>
           Номер
        </th>
        <th>
            Имя
        </th>
        <th>
            Номер родительской категории
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ParentId)
            </td>
            <td>
                @Html.ActionLink("Добавить подкатегорию", "AddSubCategory", new {id = item.Id}) |
                @Html.ActionLink("Редактировать", "Edit", new {id = item.Id}) |
                @Html.ActionLink("Удалить", "Delete", new {id = item.Id})
            </td>
        </tr>
    }

</table>
<p></p>
