﻿@model List<MvcNotes.Models.Category>
@Styles.Render("~/Content/css")
@Scripts.Render("~/scripts/jquery-1.8.2.min.js")
@{
    ViewBag.Title = "Index";
}
<!DOCTYPE html>
<html>
<head>
    <h2>Мои заметки</h2>
    <script type="text/javascript">
        $(document).ready(function() {
            $(".treeview li>ul").css('display', 'none'); // Hide all 2-level ul
            $(".collapsible").click(function(e) {
                e.preventDefault();
                $(this).toggleClass("collapse expand");
                $(this).closest('li').children('ul').slideToggle();
            });
        });
    </script>
</head>
<body>

<h4>
    Для просмотра заметок выберите категорию:
</h4>
<p>
    @Html.ActionLink("Создать заметку", "Create", "Notes")
</p>
<p>
    @Html.ActionLink("Заметки без категории", "index", "Notes")
</p>
<div style="float: left; padding: 10px;">
    <div class="treeview">
        @if (Model != null)
        {
            <ul>
                @Treeview.GetTreeView(Model, null)
            </ul>
        }
    </div>
</div>

</body>
</html>
