﻿@using MvcNotes.Models
@helper GetTreeView(List<Category> categoryMenu, int? parentID)
{
    foreach (var i in categoryMenu.Where(a => a.ParentId == parentID))
    {
        <li>
            @{ var submenu = categoryMenu.Where(a => a.ParentId == (i.Id)).Count();}

            @if (submenu > 0)
            {
                <span class="collapse collapsible">&nbsp;</span>   
            }
            else
            {
                <span style="width:15px; display:inline-block">&nbsp;</span>
            }
            <span>
@{
    var url = @"/Notes/Index/" + i.Id;
}
                <a href=@url>@i.Name</a>
            </span>
            @if (submenu > 0)
            {
                <ul>               
                    @Treeview.GetTreeView(categoryMenu, i.Id)
                    @* Recursive  Call for Populate Sub items here*@
                </ul>
            }
        </li>
    }
}