﻿@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
}

<hgroup class="title">
    <h1 class="error">Ошибка</h1>
    <h2 class="error">Во время запроса произошла ошибка</h2>
</hgroup>
