﻿@model MvcNotes.Models.LocalPasswordModel

<h3>Изменение пароля</h3>

@using (Html.BeginForm("Manage", "Account")) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()

    <fieldset>
        <legend>Change Password Form</legend>
        <ol>
            <li>
                @Html.Label("Старый пароль")
                @Html.PasswordFor(m => m.OldPassword)
            </li>
            <li>
                @Html.Label("Новый пароль")
                @Html.PasswordFor(m => m.NewPassword)
            </li>
            <li>
                @Html.Label("Подтверждение")
                @Html.PasswordFor(m => m.ConfirmPassword)
            </li>
        </ol>
        <input type="submit" value="Изменить пароль" />
    </fieldset>
}
