﻿@model MvcNotes.Models.RegisterModel
@{
    ViewBag.Title = "Регистрация";
}


<h2>Создание учетной записи</h2>


@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()

    <fieldset>
        <legend>Форма регистрации</legend>
        <ol>
            <li>
                @Html.Label("Имя пользователя")
                @Html.TextBoxFor(m => m.Name)
            </li>
            <li>
                @Html.Label("Пароль")
                @Html.PasswordFor(m => m.Password)
            </li>
            <li>
                @Html.Label("Подтверждение")
                @Html.PasswordFor(m => m.ConfirmPassword)
            </li>
        </ol>
        <input type="submit" value="Регистрация" />
    </fieldset>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
