﻿@{
    ViewBag.Title = "Home Page";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h2>@ViewBag.Message</h2>
            </hgroup>
            <p>
                Пожалуйста, перейдите на страницу "Мои заметки" для управления вашими заметками. Для управления категориями заметок перейдите на страницу "Мои категории". 
            </p>
        </div>
    </section>
}
